* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent{

    background-color: black;
    color: red;
    height: 20px;
    display: flex;

    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}


.child-one{

    background-color: black;
    height: 200px;
    width: 300px;
    color: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: 10px;


}



